.container{
    max-width: 900px;
    height: 800px;
    margin: auto;
    margin-top: 70px;
}

.name-container{ 
    height:100px;
    background-color: #333;
}

.name{
    margin-top: 50px;
    margin-left: 15px;
    font-size: 45px;
    color: #fff;
}

.extra{
    margin-top: -55px;
    margin-left: 15px;
    font-size: 15px;
    color: black;
}

.poster img{
    height: 465px;
    width: 100%;
    border: 1px solid rgb(255, 215, 0);
}

.info{
    height: auto;
    margin-top: -22px;
    background: #333;
    color: black;
}

.genre-title, .vote, .overview{
    margin-left: 15px;
}
.genres{
    display: inline;
}

.overview{
    padding-top:10px;
}

@media screen and (max-width: 700px){
    .container{
        max-width: 500px;
        height: 600px;
    }
    .name-container{
        height: 70px;
    }
    .name{
        //margin-top: 10px;
        padding-top: 15px;
        margin-left: 15px;
        font-size: 20px;
        color: #fff;
    }
    
    .extra{
        //margin-top: -30px;
        padding-top: 25px;
        margin-left: 15px;
        font-size: 7px;
        color: black;
    }
    .poster img{
        height: 350px;
        border: none;
    }
    .info{
        margin-top: -20px;
    }
    .info{
        font-size: 13px;
    }
}

@media screen and (max-width: 400px){
    .container{
        max-width: 300px;
        height: 600px;
    }
    .name-container{
        height: 50px;
    }
    .name{
        //margin-top: 55px;
        padding-top: 5px;
        margin-left: 7px;
        font-size: 20px;
        color: #fff;
    }
    
    .extra{
        //margin-top: 0px;
        padding-top: 20px;
        margin-left: 7px;
        font-size: 7px;
        color: black;
    }
    .poster img{
        height: 250px;
        border: none;
    }
    .info{
        margin-top: -20px;
        font-size: 9px;
    }
    .genre-title, .vote, .overview{
        margin-left: 7px;
    }
    .genre-title, .vote, .genres{
        margin-top: 2px;
    }
}